.navbar-brand {
    display: inline-block;
    text-indent: -9999px;
    width: 120px;
    background: url(../img/a.jpg) center center no-repeat;
}

.navbar-default {
    background-color: #fcfcfc;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.navbar-default .navbar-nav > li.active > a {
    color: black;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000;
    background-color: #fff6f0;
}

.navbar-default .navbar-nav > li.active > a:hover {
    color: #000;
    background-color: #efe6e0;
}