.navbar-brand {
    display: inline-block;
    text-indent: -9999px;
    width: 120px;
    background: url(../img/a.jpg) center center no-repeat;
}

.navbar-default {
    background-color: #fcfcfc;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.navbar-default .navbar-nav > li.active > a {
    color: black;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000;
    background-color: #fff6f0;
}

.navbar-default .navbar-nav > li.active > a:hover {
    color: #000;
    background-color: #efe6e0;
}

@font-face {
    font-family: emoji;
    src: url(../fonts/APPLE.TTF);
}

.selectLingua {
    font-family: emoji;
}

.immagineProfilo {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.immagineProfilo + label {
    background-color: rgb(240,173,78);
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.immagineProfilo:focus + label, .immagineProfilo + label:hover {
    background-color: rgb(237,156,40);
}


.hConLinea {
    overflow: hidden;
    text-align: center;
}
.hConLinea:before, .hConLinea:after {
    background-color: #aaa;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.hConLinea:before {
    right: 0.5em;
    margin-left: -50%;
}
.hConLinea:after {
    left: 0.5em;
    margin-right: -50%;
}